<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Result</title>
</head>
<body>
<div align="center">
    <h2>Search Result</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>fecha</th>
        </tr>
        <c:forEach items="${result}" var="clientes">
        <tr>
            <td>${cliente.id}</td>
            <td>${cliente.nombre}</td>
            <td>${cliente.sexo}</td>
            <td>${cliente.fecha}</td>
        </tr>
        </c:forEach>
    </table>
</div>   
</body>
</html>